<div class="row col-lg-12  justify-content-center " style="background-color: white;">
  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
    <div class="info-box bg-warning text-center " style="border-radius:15px;box-shadow: 8px 8px 4px 0px; " >
      <!--<i class="fas fa-rocket text-white ml-3 "  ></i>-->
      <div class="count text-white ">3</div>
      <div class="title text-white">Személyautó alkatrész</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->
  <div  class="col-lg-2 col-md-3 col-sm-12 col-xs-12 " >
    <div  class="info-box bg-danger  text-center" style="border-radius:15px;box-shadow: 8px 8px 4px 0px; ">
      <!--<i class="fas fa-hourglass-start text-white ml-3" ></i>-->
      <div class="count text-white">2</div>
      <div class="title text-white">Teherautó alkatrész</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->
  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" >
    <div class="info-box bg-success text-center " style="border-radius:15px;box-shadow: 8px 8px 4px 0px; ">
      <!--<i class="far fa-check-square text-white ml-3"></i>-->
      <div class="count text-white">2</div>
      <div class="title text-white">Puttonyos alkatrész</div>
    </div>
    <!--/.info-box-->
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" >
    <div class="info-box bg-info text-center " style="border-radius:15px;box-shadow: 8px 8px 4px 0px; ">
      <!--<i class="far fa-pause-circle text-white ml-3"></i>-->
      <div class="count text-white">1</div>
      <div class="title text-white card-text">Platós alkatrész</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->

  <!--/.col-->
</div>

<div class="row col-lg-12 col-sm-12 justify-content-center ">
  <div *ngFor="let carpart of carparts" id="carpartz" class="col-lg-3 justify-content-center ">
    <app-carpart></app-carpart>
  </div>
</div>
