<div class="row col-lg-12">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box blue-bg text-center">

      <div class="count">6.674</div>
      <div class="title">puttonyos</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->

  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box brown-bg justify-content-center text-center">

      <div class="count">7.538</div>
      <div class="title">személyautó</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->

  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box dark-bg text-center">

      <div class="count">4.362</div>
      <div class="title">valami1</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->

  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box bg-dark text-white text-center">

      <div class="count">1.426</div>
      <div class="title">valami2</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->

</div>
<hr style="margin-top: -20px;">

<div class="row col-lg-12 col-sm-12 justify-content-center ">
  <div *ngFor="let carpart of carparts" id="carpartz" class="col-lg-3 justify-content-center ">
    <app-carpart></app-carpart>
  </div>
</div>
