<div class="card mb-3" >
  <img src="assets/hengerfej.jpg" class="card-img-top" alt="...">
  <div class="card-body just">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="row ">
      <a clas href="#" class="m-1 btn btn-primary col-3"><i class="far fa-eye"></i></a>
      <h6 class="col-8 justify-content-end text-end mt-3">{{myCurrencyValue | currency:'HUF':false:'1.3-3'}}</h6>
    </div>

  </div>
</div>

