$visible_var: visible;
$padding_var:0.2px;
$margin_var:5px;

@media (min-width: 768px) {

  *{
    padding: $padding_var;

  }
  #smallpicture{
    height: 150px;
  }

  #bigpicture{
    height: 300px;
    opacity: 0.8;
  }


.image{
  display: inline-block;
  text-align: center;
  width: 33.3%;

}

figure{
  overflow: hidden;
}


.image img{
  display:block;
  width: 100%;
  height: auto;
  cursor: pointer;

}

#picturetext{
  visibility: hidden;

}

.image #zoom-in img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.image #zoom-in:hover img{
  transform: scale(1);
  opacity: 0.8;
}

.imagee #zoom-inn img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.imagee #zoom-inn:hover img{
  transform: scale(1);
  opacity: 0.8;
}

}


@media (max-width: 768px) {



  figure{
    overflow: hidden;
  }


  .image img{
    display:block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .image #zoom-in img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }

  .image #zoom-in:hover img{
    transform: scale(1.1);

  }

  }

