<div class="d-flex" id="wrapper" >

  <!-- Sidebar -->
  <div class="bg-light border-right"   id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading"  ><fa-icon [icon]="faCarBattery"></fa-icon> Márkék bontója </div>
    <div class="list-group list-group-flush " >
      <a href="#" class="list-group-item list-group-item-action " [routerLinkActiveOptions]="{exact:true}" routerLinkActive="myActiveClass active" routerLink="" >Kezdőoldal</a>
      <a href="#" class="list-group-item list-group-item-action " routerLinkActive="myActiveClass active" routerLink="/carparts">Alkatrészek</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" >

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container-fluid">
        <button class="btn btn-light" (click)="clickEvent()"><span class="navbar-toggler-icon"></span></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        </button>

      </div>
    </nav>

    <div class="container-fluid row">
      <h1 class="mt-4 ">Márk bontó</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration.</p>
      <div class="col-lg-12 justify">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<app-footer></app-footer>
